{% extends 'base.html' %}
{% block title %}Register User{% endblock %}
{% block page_title %}Register New User{% endblock %}
{% block content %}
<div class="card">
    <div class="card-body">
        <form method="post">
            {% csrf_token %}
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label class="form-label">Username</label>
                    {{ form.username }}
                </div>
                <div class="col-md-6 mb-3">
                    <label class="form-label">Email</label>
                    {{ form.email }}
                </div>
                <div class="col-md-6 mb-3">
                    <label class="form-label">First Name</label>
                    {{ form.first_name }}
                </div>
                <div class="col-md-6 mb-3">
                    <label class="form-label">Last Name</label>
                    {{ form.last_name }}
                </div>
                <div class="col-md-6 mb-3">
                    <label class="form-label">Role</label>
                    {{ form.role }}
                </div>
                <div class="col-md-6 mb-3">
                    <label class="form-label">Phone</label>
                    {{ form.phone }}
                </div>
                <div class="col-md-6 mb-3">
                    <label class="form-label">Date of Birth</label>
                    {{ form.date_of_birth }}
                </div>
                <div class="col-md-6 mb-3">
                    <label class="form-label">Password</label>
                    {{ form.password1 }}
                </div>
                <div class="col-md-6 mb-3">
                    <label class="form-label">Confirm Password</label>
                    {{ form.password2 }}
                </div>
                <div class="col-12 mb-3">
                    <label class="form-label">Address</label>
                    {{ form.address }}
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Register User</button>
            <a href="{% url 'accounts:user_list' %}" class="btn btn-secondary">Cancel</a>
        </form>
    </div>
</div>
{% endblock %}
