{% extends 'base.html' %}
{% block title %}{{ title }}{% endblock %}
{% block page_title %}{{ title }}{% endblock %}
{% block content %}
<div class="card">
    <div class="card-body">
        <form method="post">
            {% csrf_token %}
            <div class="row">
                {% for field in form %}
                <div class="col-md-6 mb-3">
                    <label class="form-label">{{ field.label }}</label>
                    {{ field }}
                    {% if field.errors %}<div class="text-danger small">{{ field.errors.0 }}</div>{% endif %}
                </div>
                {% endfor %}
            </div>
            <button type="submit" class="btn btn-primary">Save</button>
            <a href="{% url 'patients:patient_list' %}" class="btn btn-secondary">Cancel</a>
        </form>
    </div>
</div>
{% endblock %}
